.login-container{
  height: 80vh;
  width: 100%;
  padding-bottom: 15px;
}
.login-form{
  margin: auto;
  width: 370px;
  padding: 15px;
  max-width: 100%;
}
.login-form .form-control{
  font-size: 15px;
  min-height: 48px;
  font-weight: 500;
}
.login-form a{
  text-decoration: none;
  color:rgb(162, 10, 10);
}
.login-form a:hover{
  color:#ff3f3f;
}

.form-control:focus{
  border-color:#ff3f3f;
  box-shadow: 0 0 0 0.2rem #8b0000;
}
.btn-custom{
  background: rgb(197, 157, 111);
  border-color:rgb(197, 157, 111);
  color:#fff;
  font-size: 15px;
  font-weight: 600;
  min-height: 48px;
}
.btn-custom:focus,
.btn-custom:hover,
.btn-custom:active,
.btn-custom:active:focus{
  background: rgba(238,224,208);
  border-color: rgba(238,224,208);
  color:#fff;
}
.btn-custom:focus{
  box-shadow: 0 0 0 0.2rem rgba(189, 42, 42, 0.25);
}